[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "OpenML"]
	path = OpenML
	url = https://github.com/openml/openml-r
	shallow = true
	registered = true
